open_project -reset {{ project }}
add_files {% for source in sources -%} {{ source }} {% endfor %} -cflags "-I{{ finn_hlslib }}"
add_files -tb {{ testbench_source }} -cflags "-I{{ finn_hlslib }}"
set_top {{ top_function }}
open_solution -reset {{ solution or 'solution1' }} -flow_target vitis
set_part  { {{part}} }
create_clock -period {{ clk }}

{# Default directives #}
set_param hls.enable_hidden_option_error false
config_compile -disable_unroll_code_size_check -pipeline_style flp
config_interface -m_axi_addr64
config_rtl -module_auto_prefix
config_rtl -deadlock_detection none

csynth_design
csim_design
cosim_design -trace_level port
exit
