#include <iostream>

#include "{{ header }}"

bool verify() {
    bool failure = false;
    {# Define hls streams for test IO first. #}
    {% for streamtype in hls_streamtypes -%}
    {{ streamtype }} in{{ loop.index0 }};
    {% endfor -%}
    {# Output stream and data buffer. #}
    {{ out_streamtype }} out;
    {{ out_dtype }} buffer;
    {{ out_dtype }} expected;
    {# Write in round robin fashion and check outputs. #}
    for (int i = 0; i < {{ iterations }}; i++) {
        {% for streamtype in hls_streamtypes -%}
        in{{ loop.index0 }}.write((i + 11)*{{ loop.index0 }});
        {% endfor -%}

        {{ top_function }}({% for streamtype in hls_streamtypes -%}in{{ loop.index0 }}, {% endfor -%} out);

        {% for streamtype in hls_streamtypes -%}
        buffer = out.read();
        expected = (11 + i)*{{ loop.index0 }};
        if (buffer != expected) {
            std::cout << "\tGot " << buffer << ", expected " << expected << std::endl;
            failure = true;
        } else {
            std::cout << "\t " << i << ": correct." << std::endl;
        }
        {% endfor -%}
    }
    return !failure;
}

int main() {
    std::cout << "Starting testbench." << std::endl;
    bool success = verify();
    if (success) {
        std::cout << "Round Robin: SUCCESS" << std::endl;
    } else {
        std::cout << "Round Robin: FAILURE" << std::endl;
    }
    std::cout << "Done." << std::endl;
    return static_cast<int>(!success);
}
